//Colors
$accent: #945aaf
$hover: #5a3c7c
$main: #fcfafa
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
$text: #0a0908
//Fonts
$font: 'Roboto', sans-serif
//Transition
$mt: all 0.25s ease
//Radius
$radius: 10px